body{
    background: #1e1e1e;
    margin: 0;
}

#console{
    font-size: 30px;
    font-family: 'Noto Sans JP';
    font-weight: 400;
    color: white;
    margin: 30px;
}

#r-line{
    height: 30px;
    width: 5px;
    background: white;
    display: inline-block;
    margin: 0 0 0 5px;
}